/UnityVS.Piano.sln
/UnityVS.Piano.v12.suo
/Library
/obj
/UnityVS.Piano.CSharp.csproj
/UnityVS.Piano.CSharp.Editor.csproj
/UnityVS.Piano.CSharp.Plugins.csproj
/Assets/Plugins.meta
/Temp
/.vs/Piano/v14/.suo
/Piano.CSharp.Editor.csproj
/Piano.CSharp.csproj
/Piano.CSharp.csproj.DotSettings
/Piano.sln
/ProjectSettings/AudioManager.asset
/ProjectSettings/DynamicsManager.asset
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/EditorSettings.asset
/ProjectSettings/GraphicsSettings.asset
/ProjectSettings/InputManager.asset
/ProjectSettings/NavMeshAreas.asset
/ProjectSettings/NavMeshLayers.asset
/ProjectSettings/NetworkManager.asset
/ProjectSettings/Physics2DSettings.asset
/ProjectSettings/ProjectSettings.asset
/ProjectSettings/QualitySettings.asset
/ProjectSettings/TagManager.asset
/ProjectSettings/TimeManager.asset
/ProjectSettings/UnityAdsSettings.asset
/ProjectSettings/UnityAnalyticsManager.asset
